.main_title {

  color : black;
  text-align : center

}



.pictures {
  display: inline;
}

.dad {
  border : 10px solid;
  color: #A9C5DB
}

.mom {
  border :10px solid;
  color : #A9C5DB;
  
}

.both {

  border : 10px solid;
  color : #04a5e5

}

.parent_header {

  color : #A9C5DB;
  font-size : 30px

}

.summary {
  text-align : center;
  color : whitesmoke ;

}

.dad_table {

  text-align : center;
  border : 1px inset gray;

}

.table_header {

  text-align : center;
  border : 5px inset black;
  color : #A9C5DB;

}

.body_table {
  text-align : center;
  border : 5px inset black;
  color : whitesmoke;
  width : 50%
}


body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-image : url(images/ocean1.gif);
  background-size : cover;
}

.table {
  background-color : #04a5e5;
  border-color: black;
}

.picture_cell {

  align-self: center;

}

.mom_vid {
  float: right;
}

.vids {
  width: 100%;
  display: default
}

a:link {

  color :red

}

a:visited {

  color :purple;

}

a:hover {

  color:pink

}